.titleContainer {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	width: 90%;
}

.titleContainer h1 {
	font-size: 3rem;
	color: black;
	font-weight: 500;
	margin: 0;
}

.titleContainer h1 span {
	color: #ff0101;
}

.titleContainer p {
	color: black;
}

.Clap {
	width: 24px;
	height: auto;
}