.sidebarContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #020203;
	margin: 0;
	width: 117px;
	height: 1024px;
	position: relative;
	z-index: 10;
}

.sidebarIcons {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #020203;
	position: absolute;
	top: 270px;
	left: 20px;
}

.sidebarIcons img {
	width: 64px;
	height: 64px;
	margin: 10px;
	border-radius: 6px;
}

.sidebarIcons img:hover {
	cursor: pointer;
}

.sidebarRights {
	font-size: 12px;
	writing-mode: vertical-rl;
	transform: rotate(180deg);
	color: white;
	position: absolute;
	bottom: 60px;
	align-self: center;
}

/* =========================================================================================== */
@media screen and (max-width: 1250px) {
	.sidebarContainer {
		height: 88vh;
	}
}