.UserContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 77%;
	position: absolute;
	top: 135px;
	left: 240px;
}

.AllChartsContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	height: auto;
	margin-top: 80px;
}

.GraphicalsContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.SquaresContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 835px;
	height: auto;
	margin-top: 40px;
}